#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body{
  background-color: aliceblue;
}
div#optionCard {
  display: flex;
  flex-direction: column;
  background-color: #E7E5DF;
  width: 20vw;
  padding: 10px;
}